/* Main styles */
body {
    background-image: linear-gradient(to right, rgba(241, 250, 238,1)40%, rgba(138, 218, 229, 1));
    color: rgba(36, 4, 7,1);
}
#headline {
    font-family: 'Poppins', sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 4.6em;
    border-bottom:solid 4px rgba(36, 4, 7,1);
    margin: 0.8em 5em 0;
    text-shadow: 4px 4px rgba(168, 218, 220, 0.5);
}
#title {
    font-family: 'Poppins', sans-serif;
    font-size: 6.8em;
    letter-spacing: 0.1em;
    line-height: 0.7em;
    margin-top: 0.25em;
    text-shadow: 4px 4px rgba(168, 218, 220, 0.5); 
}
#role {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.85em;
    letter-spacing: 0.24em;
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 0.10em;
    padding-bottom: 0.4em;
    text-shadow: 4px 4px rgba(168, 218, 220, 0.5); 
    border-bottom:solid 4px rgba(36, 4, 7,1);
}
.nightwrapper {
    background-image: linear-gradient(to right,rgba(18, 2, 4,1)40%, rgb(44, 1, 6));
    background-color: rgba(18, 2, 4,1);
}
/* About me style */
.aboutme {
    padding: 0 0 8em 0;
}
.aboutme p {
    font-size: 1.15em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.25em;
    font-weight: 400;
    padding: 0 20em 0 20em;
}
/* Card style */
/* Skill */
#skillsheader h2 {
    color:  rgba(241, 250, 238,1);
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 3px rgba(241, 250, 238,1);
    margin: 1em 4.5em 0;
    text-shadow: 4px 4px rgba(168, 218, 220, 0.5);
}
.skills {
    padding: 0 0 8em 0;
}
.skills .card {
    border-radius: unset;
    background-color: rgba(241, 250, 238,1);
    box-shadow: 5px 5px rgba(168, 218, 220, 0.5);
    margin-top: 20px;

}
.skills .card-title {
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 2px black;
}
.skills p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.3em;
}
.skills ul {
    padding-bottom:16px;
    border-bottom: solid 2px black;
}
.skills li {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Portfolio */
#portfolioheader h2 {
    color:  rgba(12, 17, 29, 1);
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 3px rgba(12, 17, 29, 1);
    margin: 1em 4.5em;
    text-shadow: 4px 4px rgba(168, 218, 220, 0.5);
}
.portfolio{
    padding: 0 8em 8em 8em;
}
/* Portfolio Card */
.portfolio .card {
    border-radius: unset;
    background-color: rgba(241, 250, 238,1);
    box-shadow: 5px 5px rgba(168, 218, 220, 0.5);
}
.portfolio .portimg {
 column-width: 100px;
}
#portfolioimg{
    border-radius: unset;
    height: 280px;
    object-fit: contain;
}
#cardicon {
    font-size: 4em;
    border-bottom: solid 2px black;
}
.portfolio .card-title {
    font-size: 1.6em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 2px black;
}
.portfolio p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.85em;
    line-height: 1.3em;
}
#info {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.85em;
    line-height: 1.3em;
}

/* Contact Css */
#contactheader h2 {
    color:   rgba(241, 250, 238,1);
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 3px  rgba(241, 250, 238,1);
    margin-top: 1em;
    margin-left: 4.5em;
    margin-right: 4.5em;
    text-shadow: 4px 4px rgba(168, 218, 220, 0.5);
}
.contact {
    margin-top:4em;
    padding-bottom: 8em;
}
.contact .contactcontainer {
    margin: 20px 360px 240px 360px;
    background-color: rgba(241, 250, 238,1) ;
    height: 300px;
}
.contact .col-8 {
    background-color: rgba(138, 218, 229, 1);
    height: 300px;
}
.contact h2 {
    font-size: 4em;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', cursive;
    color: rgba(241, 250, 238,1);
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 0.7em;;
}
.contactbanner {
    margin-top: 80px;
}
.contact .card {
    width: 25em;
    height: 20em;
    border-radius: unset;
    background-color: rgba(241, 250, 238,1);
}
.contactnameform {
    margin: 2em 2em 0 2em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: rgba(36, 4, 7, 1);
    height: 2.5em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid rgba(36, 4, 7,0.5);
}
.contactemailform {
    margin: 0 2em 0 2em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    color: rgba(36, 4, 7, 1);
    height: 2.5em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid rgba(36, 4, 7,0.5);
}

.contacttextarea {
    margin: 2em;
    color: rgba(36, 4, 7, 1);
    height: 7.5em;
    font-size: .9em;
    resize: vertical;
    border-radius: unset;
    font-family: 'Poppins', sans-serif; 
    border: 2px solid rgba(36, 4, 7,0.5);
    background-color:white;
}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color:rgba(138, 218, 229, 1); /* Black*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  .sidebar ul{
      list-style-type: none;
      position: absolute;
      top: 25%;
  }
  
  /* The sidebar links */
 .sidebar a {
    padding: 8px 8px 8px 12px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 2em;
    color: rgba(18, 2, 4, 1);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: rgba(241, 250, 238,1);
    text-decoration: underline;
  } 
  
  /* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 40%;
    right: 25px;
    font-size: 4em;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
.openbtn {
    top:40%;
    position: fixed;
    z-index: 1;
    font-size: 3em;
    cursor: pointer;
    background-color: rgb(163, 20, 32, 0);
    color: rgba(163, 20, 32, 1);
    text-shadow: 2px 3px rgba(138, 218, 229, 1);
    border: unset;
  } 
  
.openbtn:hover {
     color: rgba(138, 218, 229, 1);
     text-shadow: 2px 3px rgba(163, 20, 32, 1);
     border: unset;
  }

.openbtn:active {
    color:  rgba(138, 218, 229, 1);
    text-shadow: 2px 3px rgba(163, 20, 32, 1);
    border: unset;
 }
 
.openbtn:visited {
    color: rgba(163, 20, 32, 1);
    text-shadow: 2px 3px  white;
    border: none;
 }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#sideBtn {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  } 
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } */

  